<div th:replace="comum/up"></div>

<section>
	<div class="mainwrapper">

		<div th:replace="/comum/leftpanel"></div>

		<div class="mainpanel">

			<div class="pageheader">
				<div class="media">
					<div class="media-body">
						<ul class="breadcrumb">
							<li><a href="/equipe/dashboard_equipe"><i class="glyphicon glyphicon-home"></i></a></li>
					</div>
				</div><!-- media -->
			</div><!-- pageheader -->
			<div class="contentpanel">

				<div class="row row-stat">
					<div class="col-md-4">
						<div class="panel panel-warning-alt noborder">
							<div class="panel-heading noborder">
								<div class="panel-btns">

								</div><!-- panel-btns -->
								<div class="media-body">

									<h1 class="mt5">Nome Equipe</h1>

								</div><!-- media-body -->
								
								<div class="clearfix mt20">
									<div class="pull-left">

									</div>
								</div>

							</div><!-- panel-body -->
						</div><!-- panel -->
					</div><!-- col-md-4 -->
					
					<div class="col-md-4">
						<div class="panel panel-danger-alt noborder">
							<div class="panel-heading noborder">
								<div class="panel-btns">

								</div><!-- panel-btns -->
								
								<div class="media-body">

									<h1 class="mt5">Descrição</h1>
								</div><!-- media-body -->
							
								<div class="clearfix mt20">
									<div class="pull-left">

									</div>
								</div>

							</div><!-- panel-body -->
						</div><!-- panel -->

					</div><!-- col-md-4 -->
			
					<div class="col-md-4">
						<a href="link galeria">
							<div class="panel panel-success-alt noborder">
								<div class="panel-heading noborder">
									<div class="panel-btns">

									</div><!-- panel-btns -->
								
									<div class="media-body">

										<h1 class="mt5">Galeria</h1>
									</div><!-- media-body -->
								
									<div class="clearfix mt20">
										<div class="pull-left">
										</div>
									</div>

								</div><!-- panel-body -->
							</div><!-- panel -->
						</a>
					</div><!-- col-md-4 -->


					<div>
						<a href="/equipe/dashboard_equipe" class="btn btn-success">Voltar</a>
					</div>


				</div><!-- contentpanel -->
			</div><!-- mainpanel -->
		</div><!-- row -->

</section>

<div th:replace="comum/down"></div>