<div th:replace="comum/up"></div>

<section>
	<div class="mainwrapper">

		<div th:replace="/comum/leftpanel"></div>

		<div class="mainpanel">

			<div class="pageheader">
				<div class="media">
					<div class="pageicon pull-left">
						<i class="fa fa-home"></i>
					</div>
					<div class="media-body">
						<ul class="breadcrumb">
							<li><a href="/dashboard"><i class="glyphicon glyphicon-home"></i></a></li>
							<li>Eventos</li>
						</ul>
						<h4>Eventos</a></h4>
					</div>
				</div><!-- media -->
			</div><!-- pageheader -->
			<div class="contentpanel">
			
				<div class="row row-stat">
					<a href="">
						<div class="col-md-4">
							<div class="panel panel-warning-alt noborder">
								<div class="panel-heading noborder">
									<div class="panel-btns">

									</div><!-- panel-btns -->
									<div class="media-body">

										<h1 class="mt5" align="center">Maquete</h1>

									</div><!-- media-body -->
									<hr>
									<div class="clearfix mt20">
										<div class="pull-left">
											<h5 class="md-title nomargin">Pontuação</h5>
											<h4 class="nomargin">1000</h4>
										</div>
										
									</div>
								</div><!-- panel-body -->
							</div><!-- panel -->
					</a>
				</div><!-- col-md-4 -->
				
				<div class="row row-stat">
					<a href="">
						<div class="col-md-4">
							<div class="panel panel-danger-alt noborder">
								<div class="panel-heading noborder">
									<div class="panel-btns">

									</div><!-- panel-btns -->
									<div class="media-body">

										<h1 class="mt5" align="center">Caça ao Tesouro</h1>

									</div><!-- media-body -->
									<hr>
									<div class="clearfix mt20">
										<div class="pull-left">
											<h5 class="md-title nomargin">Pontuação</h5>
											<h4 class="nomargin">500</h4>
										</div>
										
									</div>

								</div><!-- panel-body -->
							</div><!-- panel -->
					</a>
				</div><!-- col-md-4 -->
				
				<div class="row row-stat">
					<a href="">
						<div class="col-md-4">
							<div class="panel panel-success-alt noborder">
								<div class="panel-heading noborder">
									<div class="panel-btns">

									</div><!-- panel-btns -->
									<div class="media-body">

										<h1 class="mt5" align="center">Adivinhação</h1>

									</div><!-- media-body -->
									<hr>
									<div class="clearfix mt20">
										<div class="pull-left">
											<h5 class="md-title nomargin">Pontuação</h5>
											<h4 class="nomargin">700</h4>
										</div>
										
									</div>

								</div><!-- panel-body -->
							</div><!-- panel -->
					</a>
				</div><!-- col-md-4 -->

				
				<!-- 
				<div  align="right">
					<a href="/dashboard" class="btn btn-success">Voltar</a>
				</div>
				  -->

			</div><!-- contentpanel -->
		</div><!-- mainpanel -->
	</div><!-- row -->

</section>

<div th:replace="comum/down"></div>