<div th:replace="comum/up"></div>

<section>
	<div class="mainwrapper">

		<div th:replace="comum/leftpanel"></div>

		<div class="mainpanel">
			<div class="pageheader">
				<div class="media">
					<div class="pageicon pull-left">
						<i class="fa fa-pencil"></i>
					</div>
					<div class="media-body">
						<ul class="breadcrumb">
							<li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
							<li><a href="/gincana/">Cadastros / Gincana</a></li>
						</ul>
						<h4>Editar Usuário</h4>
					</div>
				</div><!-- media -->
			</div><!-- pageheader -->


			<div class="contentpanel">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">Usuário</h4>
							<p>Tela de edição de usuário</p>
						</div><!-- panel-heading -->


						<form method="POST" id="basicForm" th:action="@{/usuario/editar}">
							<div class="panel-body">
								<div class="row">
									<div class="form-group">
										<label class="col-sm-3 control-label">Nome<span
												class="asterisk">*</span></label>
										<div class="col-sm-9">
											<input hidden type="textarea" id="id_Usuario" name="id_Usuario"
												th:value="${id_Usuario}" />
											<input type="textarea" id="nome_Usuario" name="nome_Usuario"
												class="form-control" th:value="${nome_Usuario}"
												placeholder="nome do usuario" required />
										</div>
									</div><!-- form-group -->

									<div class="form-group">
										<label class="col-sm-3 control-label">Email<span
												class="asterisk">*</span></label>
										<div class="col-sm-9">
											<input hidden type="textarea" id="id_Usuario" name="id_Usuario"
												th:value="${id_Usuario}" />
											<input type="textarea" id="email_Usuario" name="email_Usuario"
												class="form-control" th:value="${email_Usuario}"
												placeholder="email do usuário" required />
										</div>
									</div><!-- form-group -->

									<div class="form-group">
										<label class="col-sm-3 control-label">Sexo<span
												class="asterisk">*</span></label>
										<div class="col-sm-9">
											<input hidden type="textarea" id="id_Usuario" name="id_Usuario"
												th:value="${id_Usuario}" />
											<input type="textarea" id="sexo_Usuario" name="sexo_Usuario"
												class="form-control" th:value="${sexo_Usuario}"
												placeholder="sexo do usuário" required />
										</div>
									</div><!-- form-group -->
									
									<!-- form-group -->

									<div class="form-group">
										<label class="col-sm-3 control-label">Data de cadastro<span
											class="asterisk">*</span></label>
										<div class="col-sm-9">

											<input type="Date" id="data_cadastro_Usuario"
												name="data_cadastro_Usuario" class="form-control"
												th:value="${data_cadastro_Usuario}"
												placeholder="data de finalização da gincana" required />
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label">Senha<span
												class="asterisk">*</span></label>
										<div class="col-sm-9">
											<input hidden type="textarea" id="id_Usuario" name="id_Usuario"
												th:value="${id_Usuario}" />
											<input type="textarea" id="senha_Usuario" name="senha_Usuario"
												class="form-control" th:value="${senha_Usuario}"
												placeholder="senha do usuário" required />
										</div>
									</div><!-- form-group -->

									<div class="form-group">
										<label class="col-sm-3 control-label">Gincana<span
											class="asterisk">*</span></label>
										<div class="col-sm-9">
											<select class="form-control" name="gincana">
												<option value="0">Selecione uma Opção</option>
												<option th:each="gincana : ${gincanas}"
													th:value="${gincana.id_Gincana}"
													th:text="${gincana.nome_Gincana}"
													th:selected="(${gincana.id_Gincana} == *{id_Gincana})">
												</option>
											</select>
										</div>
									</div>
									<!-- form-group -->
									
									<div class="form-group">
										<label class="col-sm-3 control-label">Perfil<span
											class="asterisk">*</span></label>
										<div class="col-sm-9">
											<select class="form-control" name="perfil">
												<option value="0">Selecione uma Opção</option>
												<option th:each="perfil : ${perfis}"
													th:value="${perfil.id_Perfil}"
													th:text="${perfil.cargo_Perfil}"
													th:selected="(${perfil.id_Perfil} == *{id_Perfil})">
												</option>
											</select>
										</div>
									</div>
									

									

								</div><!-- row -->
							</div><!-- panel-body -->
							<div class="panel-footer">
								<div class="row">
									<a href="/usuario/" class="btn btn-success">Voltar</a>
									<button type="submit" class="btn btn-primary">Salvar</button>
									<button type="reset" class="btn btn-dark">Limpar</button>
								</div>

							</div><!-- panel -->
						</form>

					</div><!-- panel -->

				</div>

			</div><!-- contentpanel -->

</section>

<div th:replace="comum/down"></div>