<div th:replace="comum/up"></div>
	
	<section>
		<div class="mainwrapper">

			<div th:replace="comum/leftpanel"></div>

			<div class="mainpanel">
				<div class="pageheader">
					<div class="media">
						<div class="pageicon pull-left">
							<i class="fa fa-pencil"></i>
						</div>
						<div class="media-body">
							<ul class="breadcrumb">
								<li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
								<li><a href="/gincana/">Cadastros / Gincanas</a></li>
							</ul>
							<h4>Lista de Gincanas</h4>
						</div>
					</div><!-- media -->
				</div><!-- pageheader -->

		<div class="contentpanel">
			<div class="contentpanel">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">Gincanas</h4>
							<p>Tela para listagem das gincanas</p>
						</div><!-- panel-heading -->

						<div  class="panel-body nopadding">
							<a href="/gincana/adicionar_form" class="btn btn-primary" style="margin: 10px;">Novo</a>
							<div class="table-responsive">
								<table class="table table-hidaction table-hover mb30">
									<thead>
										<tr>
											<th>#</th>
											<th>Nome</th>
											<th>Descricao</th>
											<th>Data de Inicio</th>
											<th>Data do fim</th>
										    <th>Status</th> 
										</tr>
									</thead>
									<tbody>
										<tr th:each="gincana : ${gincanas}">
										<td th:text="${gincana.id_Gincana}"></td>
											<td th:text="${gincana.nome_Gincana}"></td>
											<td th:text="${gincana.descricao_Gincana}"></td>
											<td th:text="${gincana.data_inicio_Gincana}"></td>
											<td th:text="${gincana.data_fim_Gincana}"></td>
											<td th:text="${gincana.status.situacao_Status}"></td> 
											
											<td>
											
												<a th:href="@{/gincana/editar_form/{id}(id=${gincana.id_Gincana})}"  class="btn btn-success"><i class="fa fa-pencil white"></i></a>
												<a th:href="@{/gincana/deletar/{id}(id=${gincana.id_Gincana})}" class="btn btn-danger"><i class="fa fa-trash-o white"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div><!-- table-responsive -->

						</div><!-- panel-body -->

						<div class="panel-footer">
							<a href="/dashboard" class="btn btn-success" >Voltar</a>
						</div><!-- panel-footer -->
					</div><!-- panel -->

				</div>

			</div><!-- contentpanel -->
</div>
	</section>

<div th:replace="comum/down"></div>