<div class="leftpanel">

	<ul class="nav nav-pills nav-stacked">
		<li><a href="/dashboard"> <i class="fa fa-home"></i> <span>Dashboard</span>
		</a></li>

		<h5 class="leftpanel-title">Cadastros e Listagens</h5>

		<li><a href="/status/"> <i class="fa fa-file-text"></i> <span>Status</span>
		</a></li>
		
		<li><a href="/curso/"> <i class="fa fa-bars"></i> <span>Cursos</span>
		</a></li>
		
		<li><a href="/gincana/"> <i class="fa fa-map-marker"></i> <span>Gincanas</span>
		</a></li>
		
		<li><a href="/galeria/"> <i class="fa fa-picture-o"></i> <span>Galerias</span>
		</a></li>
		
		<li><a href="/imagem/"> <i class="fa fa-file-image-o"></i> <span>Imagens</span>
		</a></li>
		
		<li><a href="/evento/"> <i class="fa fa-calendar"></i> <span>Eventos</span>
		</a></li>

		<li><a href="/usuario/"> <i class="fa fa-user"></i> <span>Usuários</span>
		</a></li>

		<li><a href="/equipe/"> <i class="fa fa-group"></i> <span>Equipes</span>
		</a></li>

		<li><a href="/criterio/"> <i class="fa fa-edit"></i> <span>Critérios</span>
		</a></li>

	</ul>
</div>
<!-- leftpanel -->